<div class="form-wrapper">
  <form [formGroup]="shapeForm" (ngSubmit)="onButtonClick()">
    <div>
      <input type="radio" value="circle" formControlName="shapeType">
      <label for="circle">Circle</label>
    </div>
    <div>
      <input type="radio" value="square" formControlName="shapeType">
      <label for="square">Square</label>
    </div>
    <br>
    <div>
      <input type="radio" value="redStyle" formControlName="shapeStyle">
      <label for="redStyle">Red</label>
    </div>
    <div>
      <input type="radio" value="blueStyle" formControlName="shapeStyle">
      <label for="blueStyle">Blue</label>
    </div>
    <br>
    <div class="button">
      <input type="submit" value="Get Shape!">
    </div>
  </form>
</div>
